
    .FolderDetails{
        width: 100%;
    }
    .TreeView{
        height: 100%;
        width: 20%;
        position: absolute;
        float: left;
        
    }
    .Explorer{    
        width: 80%;
        height: 100%;
        float: right;
        position: relative;
    }